<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {{{page.css}}}
    </style>
  </head>
  <body>
    <!-- container -->
    <div class="pabbit-mail-container">
      <!-- header -->
      <div class="pabbit-mail-header">
        <img
          src="https://static.pacport.com/jp/image/pabbit_logo_h5.png?20230626094500"
          alt="logo"
          class="pabbit-logo"
        />
      </div>
      <!-- main -->
      <div class="pabbit-mail-main">
        <p><b>一件入館申請が承認待ちです。</b></p>
        <br />
        <p>下記URLからご確認をお願い致します。</p>
        <ul id="property_list" class="font-semibold">
          <br />
          <li>物件名１</li>
        </ul>
        <p class="pabbit-caption mt-24">
          本メールの送信アドレスは送信専用となっております。
        </p>
      </div>
      <hr />
      <!-- footer -->
      <div class="pabbit-mail-footer">
        <p>株式会社PacPort</p>
        <p>https://pacport.co.jp</p>
      </div>
    </div>
  </body>
</html>
